* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

canvas {
  display:block;
  margin: 40px auto 20px;
  border: 1px solid #333;
  box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

p, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #777;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

p1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #C93232;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

p2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #777;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

p3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #73C6FA;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

p4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #0FF;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

p5 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #E373FA;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

p6 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FADF73;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}
.info {
  margin:20px auto;
  text-align: center;
  font-size: 15px;
  color: #999;
}

a {
  font-size: 15px;
  color:#6195ee;
}